extends layout

block content
  h1 오늘 뭐먹지

  p 추천
    each value, i in recommend_list
      p=i+1 +'.'+value.name+' | '
        button(onclick='check('+value.list_no+',"'+value.name+'")') 여기갈래

    hr
    p
      button(onclick='refresh()') 다시 뽑기
    p
      button(onclick='clean()') 오늘 선택한거 취소

    p 
      input(placeholder='식당이름' id='name')
      button(onclick='add()') 식당추가

  hr

  p 제외 식당(7일 이내 방문한 곳)
  div
  table
    thead
      tr: th 식당
          th 방문일

        tbody
          each value, i in except_list
            tr
              td=value.name
              td=value.date
  
  hr
  p 전체 리스트&nbsp;(이름 클릭시 삭제)

  div
  each value, i in list
    span
      button(onclick='drop('+value.list_no+')')= value.name + '\n'